* {
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    margin: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171731;
    color: #fff;
}

.logo img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: #171731;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: light;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #303064;
    border-radius: 5px;
}

nav ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #171731;
    min-width: 180px;
    padding: 5px 0;
    border-radius: 5px;
    z-index: 100;
}

nav ul li .dropdown li {
    margin: 0;
}

nav ul li .dropdown a {
    color: #fff;
    padding: 10px;
    display: block;
    transition: background 0.3s;
    font-weight: light;
}

nav ul li .dropdown a:hover {
    background: #414187;
}

nav ul li:hover .dropdown {
    display: block;
}

body {
    color: #171731;
}

section {
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #303064;
}

section p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #171731;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form label {
    font-size: 1rem;
    color: #303064;
}

form input, form button {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

form button {
    background-color: #303064;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

form button:hover {
    background-color: #171731;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #171731;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
